.axis
  font 10px sans-serif

.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.small-axis
  font-size 9px

.dot, .rect
  stroke #000
  cursor pointer

.line
  fill none
  stroke #000
  stroke-width 1.5px

.tick line
  opacity .2
  stroke-width 1.8px
  shape-rendering geometricPrecision


.day
  font 12px
  stroke #666

.month
  fill none
  stroke #000
  stroke-width 2px


.sum-label-y
    font-weight bold
    font-size 8px


.sum-label-x
    font-weight bold;
    font-size 8px;


.sums-x-value
    font-weight bold;


.sums-y-value
    font-weight bold;


.xLabel, .yLabel
  font-size 8px;

.resize-observer
  position relative;
