
base-font-size = 16px
base-line-height = 24px
base-letter-spacing = 0em
base-font-color = $ink


displayXLarge = 42px
displayLarge = 28px
displayMedium = 26px
displaySmall = 20px
heading = 16px
subheading = 12px
body = 14px
caption = 12px

h1, h2, h3, h4, h5, h6, p, li, div
  letter-spacing base-letter-spacing
  color base-font-color

h1
  font-size displayXLarge
  line-height base-line-height * 2.2

h2
  font-size displayLarge
  line-height base-line-height * 2.286

h3
  font-size displayMedium
  line-height base-line-height * 2.286

h4
  font-size displaySmall
  line-height base-line-height * 2

h5
  font-size heading
  line-height base-line-height * 1.714

h6
  font-size subheading
  line-height base-line-height * 1.143  

p, li, div
  font-size base-font-size
