.application.theme--dark

  & .bullet .range.s0
    fill #A9A9A9

  & .bullet .range.s1
    fill #808080

  & .bullet .range.s2
    fill #696969



  & .day
    fill #808080

  & .day.hasData
    fill rgba(0,0,0,0)
    stroke #666

  & path.link
    color white



  & .punch-border
    stroke white



  & .tick line
    stroke #fff

  & .axis line
    stroke #fff

  & .axis-stacked path
    stroke #fff

  & text
    fill #fff

  & .axis path
    stroke #fff

  & a
    color white



  & .ct-label
    color white

  & .ct-grid
    stroke grey
    stroke-dasharray 0px

  & .box line, .box rect, .box circle
      stroke #fff

  & .sidebar-menu
    color white

.application.theme--light


  & .day
    fill rgba(0,0,0,0)


  & .punch-border 
    stroke grey

  & aside
    background-color #E0E0E0

  & #close-menu
    color white
