
.blue-theme
  --first: #081A4E
  --second: #092369
  --third: #1A649F
  --fourth: #2485B4
  --fifth: #2DA8C9
  --sixth: #5DC1D0
  --seventh: #9AD5CD
  --eighth: #D5E9CB
  --vuetify-light: #64B5F6
  --vuetify-dark: #01579B

.pink-theme
  --first: #351850
  --second: #4F1E71
  --third: #7C388E
  --fourth: #A93B8D
  --fifth: #BA5288
  --sixth: #DD7C91
  --seventh: #F38595
  --eighth: #EDB7A7
  --vuetify-light: #F06292
  --vuetify-dark: #C2185B

.brown-theme
  --first: #643C30
  --second: #8d4832
  --third: #AC5033
  --fourth: #D86E40
  --fifth: #E29755
  --sixth: #eaaf62
  --seventh: #EFC26C
  --eighth: #FBEA85
  --vuetify-light: #BCAAA4
  --vuetify-dark: #6D4C41

.green-theme
  --first: #21313E
  --second: #22414c
  --third: #20575F
  --fourth: #268073
  --fifth: #53A976
  --sixth: #98CF6F
  --seventh: #bfdc6d
  --eighth: #EFEE69
  --vuetify-light: #81C784
  --vuetify-dark: #2E7D32

.red-theme
  --first: #641E16
  --second: #7B241C
  --third: #922B21
  --fourth: #A93226
  --fifth: #C0392B
  --sixth: #CD6155
  --seventh: #D98880
  --eighth: #E6B0AA
  --vuetify-light: #E57373
  --vuetify-dark: #B71C1C

.grey-theme
  --first: #17202A
  --second: #212F3D
  --third: #273746
  --fourth: #2C3E50
  --fifth: #566573
  --sixth: #808B96
  --seventh: #ABB2B9
  --eighth: #D5D8DC
  --vuetify-light: #BDBDBD
  --vuetify-dark: #212121


.application.theme--dark

  & .bullet .range.s0
    fill #A9A9A9

  & .bullet .range.s1
    fill #808080

  & .bullet .range.s2
    fill #696969



  & .day
    fill #808080

  & .day.hasData
    fill rgba(0,0,0,0)
    stroke #666

  & path.link
    color white



  & .punch-border
    stroke white



  & .tick line
    stroke #fff

  & .axis line
    stroke #fff

  & .axis-stacked path
    stroke #fff

  & text
    fill #fff

  & .axis path
    stroke #fff

  & a
    color white



  & .ct-label
    color white

  & .ct-grid
    stroke grey
    stroke-dasharray 0px

  & .box line, .box rect, .box circle
      stroke #fff

  & .sidebar-menu
    color white

.application.theme--light


  & .day
    fill rgba(0,0,0,0)


  & .punch-border 
    stroke grey

  & aside
    background-color #E0E0E0

  & #close-menu
    color white
