@font-face
  font-family DINOT-Bold
  font-weight bold
  src url(../../assets/fonts/din/DINOT-Bold.otf)

@font-face
  font-family DINOT-BoldItalic
  font-weight italic bold
  src url(../../assets/fonts/din/DINOT-BoldItalic.otf)

@font-face
  font-family DINOT-Italic
  font-weight italic
  src url(../../assets/fonts/din/DINOT-Italic.otf)

@font-face
  font-family DINOT-Medium
  font-weight medium
  src url(../../assets/fonts/din/DINOT-Medium.otf)

@font-face
  font-family DINOT-MediumItalic
  font-weight italic medium
  src url(../../assets/fonts/din/DINOT-MediumItalic.otf)

@font-face
  font-family DINOT
  font-weight regular
  src url(../../assets/fonts/din/DINOT.otf)

@font-face
  font-family DINOT-Bold
  font-weight bold
  src url(../../assets/fonts/din/DINWeb-Bold.woff)

@font-face
  font-family DINOT-BoldItalic
  font-weight italic bold
  src url(../../assets/fonts/din/DINWeb-BoldItalic.woff)

@font-face
  font-family DINOT-Italic
  font-weight italic
  src url(../../assets/fonts/din/DINWeb-Italic.woff)

@font-face
  font-family DINOT-Medium
  font-weight medium
  src url(../../assets/fonts/din/DINWeb-Medium.woff)

@font-face
  font-family DINOT-MediumItalic
  font-weight italic medium
  src url(../../assets/fonts/din/DINWeb-MediumItalic.woff)

@font-face
  font-family DINOT
  font-weight regular
  src url(../../assets/fonts/din/DINWeb.woff)
