$sky-lighter = #F9FAFB
$sky-light = #F4F6F8
$sky = #DFE3E8
$sky-dark = #C4CDD5

$ink-lightest = #919EAB
$ink-lighter = #637381
$ink-light = #454F5B
$ink = #212B36

$eikos-yellow = #F3D311
$eikos-gray = #BCBDBC

$link-neon-green = #42B983
