.d3_visuals_tooltip
  position absolute
  width auto
  height auto
  font-size 14px
  line-height 1.5
  color white
  padding 4px 8px
  border-radius 4px
  border solid #333 transparent
  background rgba(0, 0, 0, .8)
  pointer-events none

.tooltip-header
  text-decoration underline
